<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<p>Ejemplo Controladores Spring ....Selecciones una opcion ::</p>
    
    <p><a href="/cautelaweb/orden/inicio">Ir a Orden</a></p>
    <p><a href="/cautelaweb/carrito/inicio">Ir a carrito</a></p>
    <p><a href="/cautelaweb/producto/inicio">Ir a producto</a></p>
    <p><a href="/cautelaweb/domicilio/inicio">Ir a Domicilio</a></p>
    <p><a href="/cautelaweb/ordenDetalle/inicio">Ir a Orden Detalle</a></p>
    <p><a href="/cautelaweb/usuario/inicio">Ir a Usuario</a></p>

</body>
</html>